@charset "UTF-8";
body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: middle;
  color: #595959;
}
@media screen and (min-width: 576px) {
  body {
    background-color: aqua;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: pink;
  }
}
@media screen and (min-width: 992px) {
  body {
    background-color: yellow;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-color: greenyellow;
  }
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem 0.25rem;
  background-color: #fff;
  color: #1f6cdd;
  border: 2px solid #1f6cdd;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  border-radius: 0.25rem;
  opacity: 1;
  transition: all 0.3s ease;
}
.button:hover {
  opacity: 0.7;
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 1rem;
  vertical-align: middle;
}
.arrow::before {
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 3px);
  left: -8px;
  width: 12px;
  height: 4px;
  background-color: #1f6cdd;
  border-radius: 0.0625rem;
  content: "";
  transform: rotate(45deg);
}
.arrow::after {
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 3px);
  left: -2px;
  width: 12px;
  height: 4px;
  background-color: #1f6cdd;
  border-radius: 0.0625rem;
  content: "";
  transform: rotate(-45deg);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-logo {
  visibility: hidden;
  height: 0;
  width: 0;
}

.header-nav {
  display: none;
}
@media screen and (min-width: 992px) {
  .header-nav {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}

.header-nav-list {
  display: flex;
  gap: 3rem;
}

.header-nav-item {
  font-weight: 600;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

.hamburger {
  display: block;
  height: 60px;
  margin-left: auto;
  position: relative;
  z-index: 10;
  width: 60px;
  border: none;
  background-color: transparent;
}

.hamburger.-active .hamburger__line {
  background-color: transparent;
}

.hamburger.-active .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger.-active .hamburger__line::after {
  top: 0;
  transform: rotate(-45deg);
}

.hamburger.-active .hamburger__text::before {
  content: "閉じる";
}

.hamburger__line {
  display: block;
  height: 2px;
  position: absolute;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  background-color: #172e59;
  transition: 0.4s;
}

.hamburger__line:before,
.hamburger__line:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #172e59;
  transition: inherit;
}

.hamburger__line:before {
  top: -6px;
}

.hamburger__line:after {
  top: 6px;
}

.hamburger__text {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.hamburger__text::before {
  content: "メニュー";
  text-align: center;
  color: #172e59;
  font-size: 10px;
  font-weight: 900;
}

.header {
  width: 300px;
}

.header__nav-area {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 9;
  height: 100vh;
  width: 300px;
  visibility: hidden;
  padding-top: 60px;
  background-color: #fff;
  transition: 0.4s;
}

.header__nav-area.-active {
  left: 0;
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
